certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
charset-normalizer==2.1.1
colorama==0.4.5
commonmark==0.9.1
cycler==0.11.0
filterpy==1.4.5
fonttools==4.36.0
idna==3.3
kiwisolver==1.4.4
matplotlib==3.5.3
norfair==1.0.0
numpy==1.23.2
opencv-python==4.6.0.66
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
requests==2.28.1
rich==9.13.0
scipy==1.9.0
seaborn==0.11.2
six==1.16.0
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
typing-extensions==3.10.0.2
urllib3==1.26.12
